<div class="row">
    <div class="col-md-12">
        <h1>Talk Title</h1>
        <h2>Talk Date | Speaker</h2>

        <hr />
    
		<h2>Rating<h2>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Title of Talk</strong>
                    <span class="pull-right">Date of Talk</span>
                </div>
                <div class="panel-body">
                    Panel Content goes here here here here here here here here here here
                </div>
            </div>
        </div>
    </div>
</div>