@model RateMyTalk.Models.Rating

<div class="row">
    <div class="col-md-12">
        <h1>Talk Title <small>Speaker</small></h1>
        <h3>Talk Date</h3>
        <hr />
	    <form asp-action="CreateRating" asp-controller="Talk">
            <div class="form-group">
                <label asp-for="Value">Rating: &nbsp;&nbsp;</label>
                @for(var i=1; i<=10; i++){
                    <input asp-for="Value" type="radio" value="@i" /> @i 
                    <span>&nbsp;&nbsp;</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="Value">Comments: </label>
                <textarea asp-for="Comments" class="form-control" rows="5" id="comment"></textarea>
            </div>

            <input class="btn btn-success" type="submit" />
        </form>
    </div>
</div>