@model IEnumerable<RateMyTalk.Models.Talk>
@{
    ViewData["Title"] = "RateMyTalk";
}

<div class="row">
    <div class="col-md-12">
        <h2>Review A Talk</h2>
        <p>Please select a talk to review:</p>
		<hr />
		<div class="panel-group">

			@foreach(var talk in Model){
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>@talk.Title</strong>
						<span class="pull-right">@talk.Date.ToString("MMM d, yyyy")</span>
					</div>
					<div class="panel-body">
						<p>
							@talk.Description
						</p>

						<a class="btn btn-success" 
							asp-controller="Talk" 
							asp-action="Index"
							asp-route-id="@talk.Id">
						View Talk
						</a>
					</div>
				</div>
			}

		</div>
	</div>
</div>