@{
    ViewData["Title"] = "RateMyTalk";
}

<div class="row">
    <div class="col-md-12">
        <h2>Review A Talk</h2>
        <p>Please select a talk to review:</p>

		<hr />

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Title of Talk</strong>
					<span class="pull-right">Date of Talk</span>
				</div>
				<div class="panel-body">
				    Panel Content goes here here here here here here here here here here
				</div>
			</div>
		</div>
	</div>
</div>